* {
    border: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #F2E9E4;
}

.gradient {
    background-color: #8EC5FC;
    background-image: linear-gradient(62deg, #8EC5FC 0%, #E0C3FC 100%);
}

header {
    height: 10vh;
    background-color: #22223B;
    display: flex;
    justify-content: center;
    align-items: center;
} 

main {
    height: 90vh;
}

#nav {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
}

#nav li:nth-child(even) > div {
    background: white;
    width: 3px;
    height: 3px;
    border-radius: 100%;
    margin: 0 0.5rem;
}

#nav li a {
    text-decoration: none;
    color: #f8f9fa;
    padding: 0.75rem 2rem;
}

#nav li.active a {
    font-weight: 700;
    background-color: #fff1;
}

.fade-in {
    transition: all .5s ease-in-out;
}
