{% extends "layout/base.html"%}

{% load static %}

{% block stylesheets %}
<link href="{% static 'css/color_palette.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
<div id="generate-btn">Generate</div>
<div id="color-palette">
    <ul>
        <li>
            <div class="name"></div>
            <div class="code"></div>
        </li>
        <li>
            <div class="name"></div>
            <div class="code"></div>
        </li>
        <li>
            <div class="name"></div>
            <div class="code"></div>
        </li>
        <li>
            <div class="name"></div>
            <div class="code"></div>
        </li>
    </ul>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'js/color_palette.js' %}"></script>
{% endblock %}